*{
    font-family: Arial, Helvetica, sans-serif;
}
.div-1 {
    margin-left: 130px;
}
.div-1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #474b47;
}
.div-1 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #373b37;
}
.div-2 {
    display: flex;
    flex-direction: column;
    gap: 39px;
}
.div-1c  input {
    display: flex;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border-color: #7dfd05;
}
.div-1d input {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border-color: #7dfd05;
}
.div-1 {
    background-image: url(pexels-josef-pascal-1978505.jpg);
    background-position: right;
    background-size: 500px 600px;
    background-repeat: no-repeat;
    margin-right: 270px;
}
.div-3 button a {
    color: #596ea7;
    text-decoration: none;
    font-size: 13px;
    background-color: #f9f9fc;
    border-color: #596ea7;
    border-radius: 20px;
}
.but-1 {
    font-size: 13px;
    height: 30px;
    background-color: #f9f9fc;
    border-color: #596ea7;
    border-radius: 5px;
    color: #596ea7;
}
.div-4 {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}    